.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.roomCard {
  height: 100px;
  width: 300px;
  box-shadow: 1px 1px 10px -5px rgb(0, 0, 0);
  border-radius: 10px;
  justify-content: center;
  justify-items: center;
}
.roomText {
  align-items: "center";
  justify-content: "center";
}
.spankBtn {
  width: 500px;
  height: 500px;
  border-radius: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .spankBtn {
    width: 300px;
    height: 300px;
    border-radius: 100px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 450px) {
  #footer-image-logo {
    width: 50px;
    height: auto;
  }

  .footerImgBox {
    max-width: 100px;
  }
}
